= react_component 'messages/ShowMessage', id: @id, sender_name: @message.sender.name, sender_email: @message.sender.email, receiver_name: @message.receiver.name, receiver_email: @message.receiver.email
