@import "variables";

.main-panel--white {
  background: $white;
}

.no-margin {
  margin-left: -15px;
  margin-right: -15px;
}

.custom__nothing-to-show {
  padding: 15px;
  color: $gray;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: $white;
}

.dropdown-menu > li > a {
  color: $black;
}

.navbar-nav > li > .dropdown-menu:before {
  border-bottom: 11px solid $white !important;
}

.dropdown-menu {
  background: $white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: $purple;
  color: $white;
}
