@import "variables";

.Message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  background: $white;
  margin-right: -15px;
  margin-left: -15px;
  color: $black;
  font-weight: 600;

  &.read {
    background: #eee;
    font-weight: 300;
    color: $dark-gray;

    .Message__header {
      font-weight: 600;
    }
  }
  &:hover {
    background: #eee;
  }
}

.Message__intro {
  width: 60%;
  display: flex;
  align-items: baseline;
  padding-left: 25px;
  justify-content: space-between;
}

.Message__header {
  font-size: 16px;
  margin: 15px 0;
}

.Message__preview {
  width: 50%;
  text-align: left;
  span {
    font-weight: 300;
    color: $dark-gray;
    margin-left: 5px;
  }
}

.Message__date {
  padding-right: 25px;
}
