$danger: red;
$white: white;
$black: #2e2e66;
$dark-gray: #9fb1d3;
$gray: #a3aec3;
$light-gray: #dce3ee;
$success: #91eae4;

$dark-purple: #7f7fd5;
$purple: #86a8e7;
$success: #91eae4;

$gradient: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);

$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

@mixin d($size) {
  @if $size == l {
    @media screen and (min-width: #{$l-device}) {
      @content;
    }
  } @else if $size == m {
    @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device} - 1) {
      @content;
    }
  } @else if $size == s {
    @media screen and (max-width: #{$m-device} - 1) {
      @content;
    }
  }
}

.no-margin {
  margin-left: -15px;
  margin-right: -15px;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #fff;
}

.dropdown-menu > li > a {
  color: $black;
}

.navbar-nav > li > .dropdown-menu:before {
  border-bottom: 11px solid $white !important;
}

.dropdown-menu {
  background: $white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: $purple;
  color: $white;
}

/* guia de estilo 

links: $dark-purple








*/
